.about {
  min-height: 100vh;
  height: auto;
  width: 90%;
  margin: 30px auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/bg1.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-top: 100px;
  border-radius: 15px;
}

.about-content {
  animation: fadeIn 3s;
}

.about-content h2 {
  font-weight: 500;
  color: white;
  font-size: 60px;
  padding: 50px;
  text-align: center;
}

.about-content p {
  color: white;
  line-height: 1.5rem;
  font-size: 20px;
  text-align: center;
  padding: 0px 100px;
}

@media (max-width: 768px) {
  .about-content h2 {
    font-size: 40px;
  }

  .about-content p {
    font-size: 16px;
    padding: 0 20px;
  }
}