.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
     scroll-margin-top: 80px;
}

.explore-menu h1{
    padding-top: 15px;
    color: #262626;
    font-weight: 500;
    text-align: center;
}

.explore-menu-text{
    color: #808080;
    text-align: center;
}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: 1.4vw;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none;
}

.explore-menu-list-item .active{
    border: 4px solid #018790;
    padding: 1px;
}

@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}